#|==============================|#
#|  Items to Always Track/Keep  |#
#|==============================|#
#|
#|  Always Keep Documentation Files
#|  - Base Name: 'README'
!README*/
!*-README.*
!*.README.*
!README.*
#|
#|  - Base Name: 'Wiki'
!*Wiki*/
!*Wiki/
!*-Wiki.*
!*.Wiki.*
!Wiki.*
#|
#|  - Base Name: 'Documentation'
!*Documentation*/
!*Documentation/
!Documentation*/
!Documentation/
#|
#|  - Base Name: 'placeholder'
!.placeholder
!placeholder


#|======================|#
#|  Patterns to Ignore  |#
#|======================|#
#|
#|
#|
#|=============================|#
#|  Temporary Files & Folders  |#
#|=============================|#
#|
#|
#|  Ignore Temporary Folders
#|  - Base Name: 'tmp'
#|  - IMPORTANT: Do NOT use 'temp' as a base name as it will also ignore 'template' files/folders
#|  - NOTE: This is a 'catch-all' for any 'tmp' directories.
#|		- If you have a specific 'tmp' directory that you wish to track, you can...
#|			- Remove the specific 'tmp' declaration from this list (not recommended)
#|			- Add a '!' before the specific 'tmp' declaration (recommended)
#|			- Add a '!**/[tmp directory]/*' to the list
#|				- This will track all files/folders in the '[tmp directory]' regardless of location
#|				- This is the recommended method for tracking potentially repeated 'tmp' directories
#|			- Add a '!/[path to tmp dir]/' to the list
*.tmp/
*-tmp/
*_tmp/
.tmp.*/
.tmp-*/
.tmp_*/
.tmp/
tmp.*/
tmp-*/
tmp_*/
tmp/
#|
#|
#|  Ignore Temporary Files
#|  - Base Name: 'tmp'
#|  - IMPORTANT: Do NOT use 'temp' as a base name as it will also ignore 'template' files/folders
#|  - NOTE: This is a 'catch-all' for any 'tmp' directories.
#|		- If you have a specific 'tmp' file that you wish to track, you can...
#|			- Remove the specific 'tmp' declaration from this list (not recommended)
#|			- Add a '!' before the specific 'tmp' declaration (recommended)
#|			- Add a '!**/*[tmp declaration]*' to the list
#|				- This will track all files using the '[tmp declaration]' regardless of location
#|				- This is the recommended method for tracking potentially repeated 'tmp' directories
#|			- Add a '!/[path to tmp dir]/' to the list
*.tmp.*
# Example: 'filename.tmp.html'
*-tmp.*
# Example: 'filename-tmp.html'
*_tmp.*
# Example: 'filename_tmp.html'
*.tmp.*.*
# Example: 'filename.tmp.identifier.html'
*.tmp-*.*
# Example: 'filename.tmp-identifier.html'
*.tmp_*.*
# Example: 'filename.tmp_identifier.html'
.tmp.*
# Example: '.tmp.html'
#          '.tmp.filename.html'
tmp.*
# Example: 'tmp.html'
#          'tmp.filename.html'
*.tmp
# Example: 'filename.html.tmp'


#|========================|#
#|  Misc Files & Folders  |#
#|========================|#
#|
#|
#|  Ignore Misc Folders
#|  - Base Name: 'misc'
# *.misc/
# *-misc/
# *_misc/
# .misc.*/
# .misc-*/
# .misc_*/
# .misc/
# misc.*/
# misc-*/
# misc_*/
# misc/
#|
#|
#|  Ignore Misc Files
#|  - Base Name: 'misc'
# *.misc.*
# *-misc.*
# *_misc.*
# *.misc.*.*
# *.misc-*.*
# *.misc_*.*
# .misc.*
# misc.*
# *.misc


#|=======================|#
#|  Old Files & Folders  |#
#|=======================|#
#|
#|
#|  Ignore Old Folders
#|  - Base Name: 'old'
*.old/
*-old/
*_old/
.old.*/
.old-*/
.old_*/
.old/
old.*/
old-*/
old_*/
old/
#|
#|
#|  Ignore Temporary Files
#|  - Base Name: 'old'
*.old.*
*-old.*
*_old.*
*.old.*.*
*.old-*.*
*.old_*.*
.old.*
old.*
*.old


#|====================|#
#|  Ignore Templates  |#
#|====================|#
#|
#|
#|
#|=====================|#
#|  { Template Name }  |#
#|=====================|#
#|
#|  Template Defaults
#|  -Paste template 'as-is' after this line
#|  -Save 'pretty' template(s) using the
#|		Titles/Subtitles & Descriptions in
#|		this file as needed.

#|
#|
#|  Per-Project Template Edits
#|  -Modify the template as needed below
